@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans:ital@1&family=Roboto&display=swap');
:root {
    --primary-color: #726462;
    --secondary-color: #EAFFFD;
    --accent1-color: #EFE9E9;
    --accent2-color: #D5CAD6;

    --heading-font: 'PT Sans', italic;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #D5CAD6;
    --nav-link-color: #eee;
    --nav-hover-link-color: #EAFFFD;
    --nav-hover-background-color: #ddd;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1200px;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 150px;
	height: auto;
}

nav {
    display: flex;
    justify-content: center;
}

.flex-item {
    width: 100px;
    margin: 0px;
    border: 3px solid #e0d7d7;
    color: #fff;
    text-align: center;
    padding: 15px;
    background-color: var(--primary-color);
    border-radius: 3px;
}



/** History Gird Starts Here **/

.history-grid {
    display: grid;
    grid-gap: 15px;
    /* border: 2px solid #000; */
    background-color: var(--secondary-color);
}

.history-grid img{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 400px;
    border-radius: 5px;
    margin-top: 26px;
}

.history-grid h2{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    border-bottom: 3px solid var(--primary-color);
}

.history-item-1{
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 30px;

}

.history-item-2{
    grid-column-start: 3;
    grid-column-end: 4;
    align-items: end;
    line-height: 30px;

}

/** History Gird Ends Here **/


/** ADVENTURE Gird Ends Here **/

.adventure-grid{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px;
    /* border: 2px solid #000;  */
}

.adventure-grid h4 {
    text-align: center;
}

.adventure-grid img{
    width: 150px;
    padding: 10px 20px 0px 30px;
    border-radius: 25px;
}

.adventure-grid h2{
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    border-bottom: 3px solid var(--primary-color);

}

.adv-1{
    grid-column-start: 1;
    grid-column-end: 2;
}

.adv-2{
    grid-column-start: 2;
    grid-column-end: 3;
}


/** FOOTER Gird Ends Here **/

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 2px solid var(--accent2-color);  
    margin-top: 70px;
    padding: 10px;
    background-color: var(--accent2-color);
}

footer p{
    text-align: center;
}

footer img {
    width: 30px;
    padding: 10px 20px 0px 10px;
}




h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 2px;
    font-weight: var(--paragraph-font);
}

nav a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    top: 5%;
    left: 30%;
    position: absolute;
    background-color: lightgray;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 30px;
    color: #fff;
    margin: 0px;

}

article h1 {
    top: 10px;
    float: left;
}

article h3 {
    color: #d7bca7;
}


.hero article {
    border: 0px solid #000;
    padding: 0px 30px 90px 40px;
    top: 45%;   
    position: absolute; 
    height: 150px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.hero article img {
    width: 250px;
    height: auto;
    float: right;
    top: -20px;
}

.hero article p {
    color: #fff;
    line-height: 30px;
    font-size: 17px;
}
