@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans:ital@1&family=Roboto&display=swap');
:root {
    --primary-color: #726462;
    --secondary-color: #EAFFFD;
    --accent1-color: #EFE9E9;
    --accent2-color: #D5CAD6;

    --heading-font: 'PT Sans', italic;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #D5CAD6;
    --nav-link-color: #eee;
    --nav-hover-link-color: #EAFFFD;
    --nav-hover-background-color: #ddd;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1200px;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 150px;
	height: auto;
}

nav {
    display: flex;
    justify-content: center;
}

nav a:hover {
    background-color: var(--nav-background-color);
    color: var(--primary-color);
}

.flex-item {
    width: 100px;
    margin: 0px;
    border: 3px solid #e0d7d7;
    color: #fff;
    text-align: center;
    padding: 15px;
    background-color: var(--primary-color);
    border-radius: 3px;
}



/** History Gird Starts Here **/

.history-grid {
    display: grid;
    grid-gap: 15px;
    /* border: 2px solid #000; */
    background-color: var(--secondary-color);
    padding: 10px 20px 0px 30px;
    
}

.history-grid img{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 400px;
    border-radius: 5px;
    margin-top: 26px;
}

.history-grid h2{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    border-bottom: 3px solid var(--primary-color);
}

.history-item-1{
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 30px;

}

.history-item-2{
    grid-column-start: 3;
    grid-column-end: 4;
    align-items: end;
    line-height: 30px;

}

/** History Gird Ends Here **/


/** HOME PAGE STYLES STARTS HERE **/


.home img{
    display: block;
    width: 100%;
    height: 550px;
}

.home {
    position: relative;
}



.home h1 {
    top: 30%;
    left: 15%;
    position: absolute;
    padding: 30px;
    color: #fff;
    margin: 0px;
    font-size:4rem;
}

.home h4{
    top: 25%;
    left: 15%;
    position: absolute;
    padding: 30px;
    color: #fff;
    margin: 0px;
    font-size:2rem;
}

.home a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    font-size: 1.1rem;
    padding: 1.25rem;
    text-decoration: none;
    top: 60%;
    left: 43%;
    position: absolute;
    border: 2px solid var(--primary-color);
    
}

.home a:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.home-grid {
    display: grid;
    grid-gap: .1rem;
    /* border: 2px solid #000; */
   /** background-color: var(--secondary-color); **/
    grid-template-rows: 1fr 1fr;
    padding: 5px 20px 0px 30px;
    margin-top: 40px;
    
}

.home-grid h2{
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    border-bottom: 2px dotted var(--primary-color);
}

.home-item{
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 30px;
    text-align: center;
}

.home-img h2{
 text-align: center;

}

.home-adventure-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*border: 2px solid #000;  */
    margin-top: 20px;
    padding: 5px 36px 15px 51px;
    margin: 40px;

}

.home-adventure-grid h3{
    text-align: center;
}

.home-adventure-grid p{
    text-align: center;
    width: 300px;
}

.home-adventure-grid a{
text-decoration: none;
color: var(--primary-color);
}



.testimony h2{
    text-align: center;
    margin: 20px;
    border-bottom: 2px dotted var(--nav-background-color);
    padding: 20px;
}

.home-testimony-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 36px 15px 51px;
    margin: 10px;
}

.home-testimony-grid p{
    text-align: center;
    width: 500px;
    font-family: var(--paragraph-font);
    color: var(--primary-color);

}

.home-testimony-grid h4{
    text-align: center;
    width: 500px;
}


.sponsors-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    background-color: var(--nav-hover-background-color);
    padding: 5px 30px 43px 10px;

}

.sponsors-grid img{
    width: 250px;
    height: 117px ;
    padding: 20px;
}

.sponsors h2{
    text-align: center;
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    font-size: 3rem;
}









/** HOME PAGE STYLES ENDS HERE **/





/*--TRIPS STYLES STARTS HERE */


.trip-grid {
    display: grid;
    grid-gap: .1rem;
    /* border: 2px solid #000; */
    background-color: var(--secondary-color);
    grid-template-rows: 1fr 1fr;
    padding: 5px 20px 0px 30px;
    
}


.trip-grid h2{
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    border-bottom: 2px dotted var(--primary-color);
}

.trip-item{
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 30px;
    text-align: center;
}


.trips-img-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*border: 2px solid #000;  */
    margin-top: 20px;

}

.trips-img-grid h4 {
    text-align:left;
    margin-left: 22px;

}

.trips-img-grid p{
    text-align: justify;
    width: 350px;
    margin-bottom: 100px;
    margin-left: 20px;
}

.trips-img-grid img{
    width: 350px;
    margin: 25px;
}

.trips-img-grid a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: .5rem;
    font-size: 1.1rem;
    padding: .75rem;
    text-decoration: none;
    margin-top: 10px;
    position: absolute;
    display: grid;
}

.trips-2 a{
    background-color: var(--primary-color);
    color: var(--secondary-color);

}

.trips-img-grid a:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.trips-img-grid a {
   text-decoration: none;
}


/*--TRIPS STYLES ENDS HERE */








/* CONTACT GRID STARTS HERE*/

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    padding: 10px;


}

.contact-grid img{
    width: 350px;
    border-radius: 40px;
    margin-top: 26px;
    padding: 20px;

}

.contact-grid h2{
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;

}
.img-1 h4{
    margin: 0 auto;
    margin-left: 95px;
}

.socials img {
    width: 30px;
    padding: 0px 20px 0px 10px;
}

/* Contact form and details starts here */

.contact-form-grid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 70px;
    grid-gap: 2px;
    
}

.contact-form-grid h2{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    border-bottom: 3px solid var(--primary-color);
    width: 500px;
    margin: 0 auto;
}

form{
    width: 500px;
    margin: 0 auto;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: grid;
    padding: 40px 30px 20px 10px ;
    margin-bottom: 100px;
}



form p{
    text-align: end;
    width: 400px;
    margin-top: 2rem;
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2rem;
}


label, input, textarea, select, button {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

label{
    padding-right: 1rem;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

.form-item{
    display: grid;
    align-items: center;
}


.column2{
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    padding: 2px 10px 20px 10px ;
}

.column3{
    grid-template-columns: 3fr 1fr;
    grid-gap: 0px;
}

/*To move the textarea label upwards*/
.textarea label{
    margin-bottom: 90px;
}

.check label{
    width: 400px;
    text-align: right;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    margin-top: 1px;
}

.company-details {
    margin-top: 60px;
}

.company-details p {
    text-align: center;
    border-bottom: 2px dotted var(--primary-color);
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2rem;
}

button{
    margin-left: 7rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    padding: .75rem;
    width: 340px;
    margin-top: 2em;
    
}

button:hover{
    background-color: var(--nav-background-color);
    color: var(--primary-color);
}

/* Contact form and details ends here */


/* CONTACT GRID ENDS HERE */






/** ADVENTURE Gird Ends Here **/

.adventure-grid{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px;
    /* border: 2px solid #000;  */
}

.adventure-grid h4 {
    text-align: center;
}

.adventure-grid img{
    width: 150px;
    padding: 10px 20px 0px 30px;
    border-radius: 25px;
}

.adventure-grid h2{
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    border-bottom: 3px solid var(--primary-color);

}

.adv-1{
    grid-column-start: 1;
    grid-column-end: 2;
}

.adv-2{
    grid-column-start: 2;
    grid-column-end: 3;
}


/** FOOTER Gird STARTS Here **/

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 2px solid var(--accent2-color);  
    margin-top: 70px;
    padding: 10px;
    background-color: var(--accent2-color);
}

footer p{
    text-align: center;
}

footer img {
    width: 30px;
    padding: 10px 20px 0px 10px;
}

/** FOOTER Gird ENDS Here **/



h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 2px;
    font-weight: var(--paragraph-font);
}

nav a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    top: 5%;
    left: 30%;
    position: absolute;
    background-color: lightgray;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 30px;
    color: #fff;
    margin: 0px;

}

article h1 {
    top: 10px;
    float: left;
}

article h3 {
    color: #d7bca7;
}


.hero article {
    border: 0px solid #000;
    padding: 0px 30px 90px 40px;
    top: 45%;   
    position: absolute; 
    height: 150px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.hero article img {
    width: 250px;
    height: auto;
    float: right;
    top: -20px;
}

.hero article p {
    color: #fff;
    line-height: 30px;
    font-size: 17px;
}
