@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans:ital@1&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header{
    width: 790px;
    margin-left: 160px;
}


h1 {
    margin: 2rem;
    font-size: 1.5rem;
    color: navy;
    text-align: center;
}


/** Styling the form **/
form{
    width: 650px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #ddd2d2;
    display: grid;
}

label, input, textarea, select, button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

.box{
    border: 1px solid black;
    height: 60px;
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
}

button{
    margin: 0 auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    padding: .75rem;
    width: 572px;
    margin-top: 20px;
    
}

button:hover{
    background-color: darkgreen;
}


/**Stylying the form divs **/
.form1{
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 10px;
}




